.App {
  text-align: center;
}

h3, h4 {
  margin-bottom: 0;
}

nav {
  border-bottom: 4px solid Grey;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 24px 32px;
}

nav a:hover {
  background: white;
  color: black;
}

.nav-right {
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
